{% extends 'base.html' %}
{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<h1>Home</h1>
<ol>
    <li>search bar</li>
    <li>top films</li>
    <li>reservations</li>
  </ol>
  <table style="width: 90%;text-align: center;; height: 500px; border: 1px solid;border-color: white;">
    
    <!-- number of rows -->
    {% for i in range(13)%}
    <tr> 
      {% if seat_letters[i] != "--" %}
      <th style= "border: 1px solid;text-align: center;background-color: black; color: white; border-color: black;">
        {{ seat_letters[i] }}
      </th>
      {% else %}
      <th style="color:white">
        {{  seat_letters[i]  }}
      </th>
      {% endif %}

      <!--Number of collums-->
        {%for j in range(1, 19)%}
          {% if i in [6,11]%}
            <th style="color:white">
              --
            </th>
          {% elif i in [5,12] and j in [5,6,7,12,13,14]%}
            <th style="color:white">
              --
            </th>
          {% elif j in [3,4,15,16]%}
            <th style="color:white">
              --
            </th>
          {% elif i in [5,12] and j in [8,9,10,11]%}
            <th style = "border: 1px solid; background-color: gold;border-color: white;">
              {{j}}
            </th>
          {% else %}
            <th style= "border: 1px solid;border-color: white ;color: white; background-color: lightslategrey;">
              {{j}}
            </th>
          {% endif %}
        {% endfor%}
    </tr>
    {% endfor %}
</table>
{% endblock %}