{% extends 'base.html' %}
{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
{% if shows == []%}
  <div class="alert alert-warning" role="alert">
    No shows added yet :/
  </div>
{% endif%}

  <div class="row">
  {%for shw in shows%}
    <div class="col-4">
      <div class="card">
        <img src={{shw.img_link}} class="card-img-top" alt="...">
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <h5 class="card-title">{{shw.name}}</h5>
            </div>
            <div class="col-4">
              <div class="float-right">
                <span class="badge badge-warning">{{shw.genre}}</span>
                <span class="badge badge-primary">{{shw.duration}}h</span>
              </div>
            </div>
          </div>
          <div>
            <a href="/shows/{{shw.id}}" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>

{% endblock %}