{% extends 'base.html' %}
{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}

{% for show, seat in reservations %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Reservation</h5>
    <p>
      <b>Show: </b>{{ show.name }}<br>
      <b>Seat: </b>{{ seat.position }}<br>
      <b>Date: </b>{{ show.date }}<br>
      <b>Time: </b>{{ show.time }}<br>
      <b>Name: </b>{{ user.name }}<br>
      <b>Email: </b>{{ user.email }}<br>
    </p>
  </div>
</div>
{% endfor %}
{% endblock %}