{% extends 'base.html' %}
{% block head %}
<title>Add screening</title>
{% endblock %}

{% block body %}
<div class="d-flex justify-content-center">
<div class="card" style="width: 95%;box-shadow: 2px 3px #888888;">
    <div class="row">
      <div class="col-6">
        <div class="card-body">
          <h5 class="card-title">Screening of {{show.name}}</h5>
          <span class="badge badge-success">{{screening.datetime}}</span>
          <span class="badge badge-warning">{{show.genre}}</span>
          <span class="badge badge-primary">{{show.duration}}h</span>
          <p class="card-textp" style="width: 95%;">{{show.description}}</p>
        </div>
      </div>
      <div class="col-6">
        <img src={{show.img_link}} style="border-radius: 5px; width:90%; margin:15px;">
      </div>
    </div>
</div>
</div>

<br>
<p class="ml-5">Click on the available seats to reserve</p>

<div class="d-flex justify-content-left">
  <ul class="list-group ml-5">
    <span class="badge rounded-pill" style="background-color: lightslategray; color: white;">Normal Seats</span>
    <span class="badge rounded-pill" style="background-color: gold; color: black;">VIP Seats</span>
    <span class="badge rounded-pill" style="background-color: red; color: black;">Reserved Seats</span>
  </ul>
</div>
<div class="d-flex justify-content-center">
<table style="width: 90%;text-align: center;; height: 500px; border: 1px solid;border-color: white;">
    
    <!-- number of rows -->
    {% for i in range(13)%}
    <tr> 
      {% if seat_letters[i] != "--" %}
      <th style= "border: 1px solid;text-align: center;width: 3%; background-color: black; color: white; border-color: black;">
        {{ seat_letters[i] }}
      </th>
      {% else %}
      <th style="color:white">
        {{  seat_letters[i]  }}
      </th>
      {% endif %}

      <!--Number of collums-->
        {%for j in range(1, 19)%}
          {% if i in [6,11]%}
            <th style="color:white">
              --
            </th>
          {% elif i in [5,12] and j in [5,6,7,12,13,14]%}
            <th style="color:white">
              --
            </th>
          {% elif j in [3,4,15,16]%}
            <th style="color:white">
              --
            </th>
          {% elif seats[0].id in reserved_seat_ids %}

            <th style = "border: 1px solid; width: 5%; background-color: red;border-color: white;">
              <a style="text-decoration:none;color: black;">{{ seats.pop(0).position }} </a>
            </th>

          {% elif seats[0].vip %}
           
            <th style = "border: 1px solid; width: 5%; background-color: gold;border-color: white;">
              <a href="/reservations/{{screening.id}}/{{seats[0].id}}" style="text-decoration:none;color: black;">{{ seats.pop(0).position }} </a>
            </th>
           
          {% else %}
            <th style= "border: 1px solid; width:5%; border-color: white ;color: white; background-color: lightslategrey;">
              <a href="/reservations/{{screening.id}}/{{seats[0].id}}" style="text-decoration:none;color: white;">{{ seats.pop(0).position }}</a>
            </th>
          {% endif %}
        {% endfor%}
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}