{% extends 'base.html' %}
{% block head %}
<title>Show name</title>
{% endblock %}

{% block body %}
{% if show.screenings == []%}
  <div class="alert alert-warning" role="alert">
    No screenings assigned for the show :/
  </div>
{% endif%}
<div class="card" style="width: 95%;">
  <div class="row">
      <div class="col-6">
        <div class="card-body">
          <h5 class="card-title">{{show.name}}</h5>
          <span class="badge badge-warning">{{show.genre}}</span>
          <span class="badge badge-primary">{{show.duration}}h</span>
          <p class="card-textp" style="width: 95%;">{{show.description}}</p>
          <a class="btn btn-success" href="/shows/screenigs/add/{{ show.id }}">Add screening</a>
          <a class="btn btn-danger" href="/shows/delete/{{ show.id }}">Delete</a>
        </div>
      </div>
      <div class="col-6">
        <img src={{show.img_link}} style="border-radius: 5px; width:90%; margin:15px;">
      </div>
    </div>
</div>

<br>

<!-- screenings -->
<p >Available screenings for the show:</p>
<div class="row">
  {%for screening in screenings%}
    <div class="col-4">
      <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{screening.datetime}}</h5>
            <span class="badge badge-success">{{show.name}}</span>
            <span class="badge badge-warning">{{show.genre}}</span>
            <span class="badge badge-primary">{{show.duration}}h</span>
            <br/><br/>
            <a href="/screenings/{{screening.id}}" class="btn btn-primary">Reserve a seat</a>
            {% if user.name == "Admin" %}
              <a href="/screening/delete/{{screening.id}}" class="btn btn-danger">Delete</a>
            {%endif%}
        </div>
      </div>
    </div>
  {% endfor %}
  </div>

{% endblock %}