{% extends 'base.html' %}
{% block head %}
<title>Show name</title>
{% endblock %}

{% block body %}
<h1>Show</h1>
<ol>
    <li>Show picture</li>
    <li>Show details</li>
    <li>Show seats</li>
  </ol>
  <div class="card" style="width: 95%;box-shadow: 2px 3px #888888;">
    <div class="card-body">
      <h5  style= "color: black;"class="card-title">{{show.name}}</h5>
      <span style="background-color: orange; color: black;"class="badge badge-genre">{{show.genre}}</span>
      <span style="background-color: lightskyblue"class="badge badge-duration">{{show.duration}}h</span>
      <span style="background-color: lightsteelblue"class="badge badge-time">{{show.date}}</span>
      <div class="description">
        <p class="card-description" style="width: 95%;">{{show.description}}</p>
      </div>
    </div>
  </div>
{% endblock %}